# MongoDB
MONGODB_URI=mongodb://localhost:27017/futbolapp

# JWT
JWT_SECRET=tu_clave_secreta_muy_segura_cambiar_en_produccion
JWT_EXPIRE=30d

# Puerto
PORT=3000

# Plan
FREE_PLAN_LIMIT=3
PRO_PLAN_PRICE=20

# Yape/Plin
YAPE_NUMBER=51936400532
PLIN_NUMBER=51936400532

# App
APP_URL=http://localhost:3000
